<!DOCTYPE html>
<html>
  <head>
    <title>StockBin</title>
    <%= csrf_meta_tags %>

    <!-- Google-Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700,800'
    rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans+Condensed:300,700'
    rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Oswald:400,300,700'
    rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto:400,300,500,700'
    rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700'
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,300,700'
    rel='stylesheet' type='text/css'>
    <!-- Font-Awesome -->
    <link href="https://opensource.keycdn.com/fontawesome/4.6.3/font-awesome.min.css" rel="stylesheet">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>


    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="header">
      <div id="name">
        <% if current_page?(root_path) %>
          <!-- <h1>Search<span>Bin</span></h1> -->
          <h1><%= link_to "SearchBin", root_path %></h1>
        <% else %>
          <!-- <h2>Search<span>Bin</span></h2> -->
          <h2><%= link_to "SearchBin", root_path %></h2>
        <% end %>
      </div>

      <div id="topSearchBar">
        <% unless current_page?(root_path) %>
          <%= render :partial => 'dashboard/search_bar' %>
        <% end %>
      </div>

      <nav id="user">
        <ul class="clean-list">
          <% if current_user %>
            Signed in as  <%= current_user.email %>
            <li><%= link_to "Sign Out", logout_path %></li>
          <% else %>
            <li><%= link_to "Sign Up", signup_path %></li>
            <li><span>or</span></li>
            <li><%= link_to "Sign In", signin_path %></li>
          <% end %>
        </ul>
      </nav>
    </header>

    <% flash.each do | key, value | %>
      <%= content_tag(:div, class: "alert alert-#{key}") do %>
        <p>
          <%= value %>
        </p>
      <% end %>
    <% end %>

    <%= yield %>

    <footer>
      <p>&copy; <%= Time.now.year%>, Sumware, BFE&nbsp;&nbsp;|&nbsp;&nbsp;<span>SearchBin</span> </p>
    </footer>
  </body>

</html>
